<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="https://joerude-test-comment-api.herokuapp.com/api/v1/swagger"><b>Swagger documentation</b></a></li>
    <li><a href="https://joerude-test-comment-api.herokuapp.com/api/v1/create_blog">Create blog</a></li>
    <li><a href="https://joerude-test-comment-api.herokuapp.com/api/v1/create_comment">Create comment</a></li>
    <li><a href="https://joerude-test-comment-api.herokuapp.com/api/v1/blogs/1">Single blog instance</a></li>
    <li><a href="https://joerude-test-comment-api.herokuapp.com/api/v1/comments/1">Single comment instance</a></li>
    <li><a href="https://joerude-test-comment-api.herokuapp.com/api/v1/blogs/">Blog list</a></li>
    <li><a href="https://joerude-test-comment-api.herokuapp.com/v1/comments/">Comment list</a></li>
</ul>
</body>
</html>